<form method="post">
	<label for="">Prénom</label>
	<input type="text" value="" name="name" id="name" required>
	<label for="">Mot de passe</label>
	<input type="text" value="" name="password" id="password" required>
	
	<button>S'inscrire</button>
</form>
