{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ user.id }}" name="id">
	<input type="hidden" value="{{ lat }}" name="id">
	<input type="hidden" value="{{ long }}" name="id">
	<button>FLOWER BOOM</button>
</form>
