{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
<div class="">
	<h1>Hello Wilder !</h1>
</div>
	{{ dump(detailsAirQuality) }}

	{{ airQuality[detailsAirQuality] }}

{% endblock %}
