{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}

	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
		<div class="col-lg-12 d-flex justify-content-center">
			<button type="button" class="btn btn-primary rounded-pill p-2">Login</button>
		</div>
	</div>
	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
		<div class="col-lg-12 d-flex justify-content-center">
			<h1>Comment jouer</h1>
		</div>
	</div>
	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
		<p>Connectez vous à l'aide du Login</p>
	</div>
	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
		<p>Plantez les graines (ou dispersez les)</p>
	</div>
	<div class="container-fluid mb-4 d-flex justify-content-center align-items-center header">
		<p>Appuyez sur le bouton bombe</p>
	</div>
	<div class="container-fluid mb-4 d-flex align-items-center">
		<h2 class="first rounded-pill p-2 me-4">Bien</h2>
		<div>Cela indique que l'air est bien</div>
	</div>
	<div class="container-fluid mb-4 d-flex align-items-center">
		<h2 class="second rounded-pill p-2 me-4">Bof</h2>
		<div>Cela indique que l'air est bien</div>
	</div>
	<div class="container-fluid mb-4 d-flex align-items-center">
		<h2 class="third rounded-pill p-2 me-4">Moyen</h2>
		<div>Cela indique que l'air est bien</div>
	</div>
	<div class="container-fluid mb-4 d-flex align-items-center">
		<h2 class="fourth rounded-pill p-2 me-4">Pauvre</h2>
		<div>Cela indique que l'air est bien</div>
	</div>
	<div class="container-fluid mb-4 d-flex align-items-center">
		<h2 class="fifth rounded-pill p-2 me-4">Nique</h2>
		<div>Cela indique que l'air est bien</div>
	</div>


{% endblock %}
