<div class="container">
	<form method="POST" action="">
		{% if errors is not empty %}
			<div class="alert alert-danger">
				{% for error in errors %}
					<p>{{ error }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<div class="d-flex justify-content-center align-items-center">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill me-1" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>
		<h1 class="d-flex justify-content-center mt-2 text-dark">Où êtes vous ?</h1>
		</div>
		<div class="mb-4">
			<label class="form-label text-dark" for="housenumber">n°</label>
			<input class="form-control border-0" type="number" id="housenumber" value="" name="housenumber" required>
		</div>
		<div class="mb-4">
			<label class="form-label text-dark" for="street">rue/avenue/quai</label>
			<input class="form-control border-0" type="text" id="street" value="" name="street" required>
		</div>
		<div class="mb-4">
			<label class="form-label text-dark" for="postcode">Code postal</label>
			<input class="form-control border-0" type="number" id="postcode" value="" name="postcode" required>
		</div>
		<div class="d-flex justify-content-center">
			<button class="class=btn btn-success d-flex justify-content-center mt-5 mb-3">Envoi</button>
		</div>
	</form>
</div>
