{# TODO : manage errors display #}

<form method="post">

	<label for="housenumber">n°</label>
	<input type="number" value="" name="housenumber" id="housenumber" required>
	<label for="street">rue</label>
	<input type="text" value="" name="street" id="street" required>
	<label for="postcode">Code postal</label>
	<input type="number" value="" name="postcode" id="postcode" required>

	<button>Envoi</button>
</form>
