<div class="cover-container d-flex p-3 mx-auto flex-column bg-secondary">
    <img src="assets/images/logoverte.png" class="rounded mx-auto d-block" alt="logo">
    <div class="d-flex justify-content-center">
    On explose d'abord!
    </div>
</div>
<div class="d-flex justify-content-center p-3 mb-2 bg-success text-white">
<p>Zone Tres Bonne</p>
</div>