<div class="cover-container d-flex p-3 mx-auto flex-column bg-secondary">
    <img src="assets/images/greenlogo.png" class="rounded mx-auto d-block" alt="logo">
    <div class="d-flex justify-content-center">
    On explose d'abord!
    </div>
</div>
