{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ user_id }}" name="user_id">
	<input type="hidden" value="{{ lat }}" name="lat">
	<input type="hidden" value="{{ lon }}" name="lon">
	<button>FLOWER BOOM</button>
</form>
