{# TODO : manage errors display #}
<form method="post">
	<input type="hidden" value="{{ user.id }}" name="user_id">
	<input type="hidden" value="{{ lat }}" name="lat">
	<input type="hidden" value="{{ lon }}" name="lon">
	<div class = "d-flex justify-content-center w-5 ms-5 me-3 mt-3 mb-3">
	<button class="btn"><img src="/assets/images/bombe.png" /></button>
	</div>
</form>
